.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
}

.page .thumb-pager,
.page .main-slider,
.modal .thumb-pager,
.modal .main-slider {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.page .thumb-pager,
.modal-thumb-is-slider .thumb-pager,
.modal-thumb-is-static .thumb-pager {
  width: 16.66666667%; /* .col-md-2 */
}
.page .main-slider {
  width: 50%; /* .col-md-6 */
}
.modal-thumb-is-slider .main-slider,
.modal-thumb-is-static .main-slider {
  width: 83.33333333%; /* .col-md-10 */
}

.modal-thumb-is-static .thumb-pager .bx-controls {
  display: none;
}
.modal-thumb-is-static .thumb-pager .bx-viewport {
  height: 908px !important;
}
.modal-thumb-is-static .thumb-pager .bx-slider-thumb {
  margin: 0 !important;
  padding: 0 !important;
}
.modal-thumb-is-static .main-slider {

}

.bxslider-thumb li {
  width: 72px !important; /* thumb image width + thumb image border width */
}
.bxslider-thumb a {
  display: block;
  border-size: 1px;
  border-style: solid;
  border-color: transparent;
}
.bxslider-thumb a:hover,
.bxslider-thumb a.active {
  border-color: tomato;
}

.modal-header {
  border-bottom: none 0;
}

@media (min-width: 1200px){
  .modal-lg {
    width: 1140px;
  }
}
