.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
}

.bxslider-thumb {
  padding: 0;
}

.bxslider-thumb li {
  /* thumb image width + thumb image border width */
  /* width: 72px !important; */
}
.bxslider-thumb a {
  position: relative;
  display: block;
}
.bxslider-thumb a:after {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow:inset 0px 0px 0px 2px transparent;
}
.bxslider-thumb a:hover:after,
.bxslider-thumb a.active:after {
  box-shadow:inset 0px 0px 0px 2px tomato;
}

.modal-header {
  border-bottom: none 0;
}

@media (min-width: 1200px){
  .modal-lg {
    width: 1140px;
  }
}
